header

	.header-fixo

		h1.logo Atom Educacional

		nav.cel-nav
			ul
				li: a(href="#comece") Começe
				li: a(href="#comece") Cursos
				li: a(href="#comece") Experimente
				li: a(href="#comece") Planos
				li: a(href="#comece") Agendamento
				li: a(href="#comece") Sala ao vivo
				li: a(href="#comece") Ajuda
				li: a(href="#comece") Sobre nós

		.cel-menu-icone
			span